@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
section.todo__section {
    div.todo__content {
        box-shadow: 0.325rem 0.5rem 0 rgb(139 92 246);
        width: 40rem;
        h1.todo__title {
            text-shadow: 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.75);
            user-select: none;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            letter-spacing: 0.125rem;
        }
        .togo__logout {
            font-family: "Poppins", sans-serif;
        }
        .todo__body {
            .todo__add {
                font-family: "Poppins", sans-serif;
            }
            .todo__list {
                min-height: 20rem;
                max-height: 20rem;
                overflow-y: auto;
                /* CSS */
                /* Scrollbar Track */
                ::-webkit-scrollbar {
                    width: 12px;
                    background-color: #f5f5f5;
                }

                /* Scrollbar Thumb */
                ::-webkit-scrollbar-thumb {
                    background-color: #b1b1c1;
                    border-radius: 6px;
                }

                /* Scrollbar Thumb on hover */
                ::-webkit-scrollbar-thumb:hover {
                    background-color: #9393a5;
                }

                /* Scrollbar Thumb when active/being dragged */
                ::-webkit-scrollbar-thumb:active {
                    background-color: #78788e;
                }

                .todo__item-text-group {
                    font-family: "Poppins", sans-serif;
                }
            }
        }
    }
}

.todo__add__modal__content {
    width: 30rem;
    .todo__add__modal__title {
        font-family: "Poppins", sans-serif;
        font-weight: 700;
    }
    .todo__add__modal__form__label {
        font-family: "Poppins", sans-serif;
        font-weight: 500;
    }
    .todo__add__modal__form__input {
        font-family: "Poppins", sans-serif;
    }
}

section.login__section {
    .login__content {
        width: 25rem;
        box-shadow: 0.325rem 0.5rem 0 rgb(139 92 246);

        .login__title {
            text-shadow: 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.75);
            user-select: none;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            letter-spacing: 0.125rem;
        }
        .login__subtitle {
            font-family: "Poppins", sans-serif;
        }

        .login__form {
            label {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
            input[type="email"],
            input[type="password"] {
                font-family: "Poppins", sans-serif;
            }
            .login__forgot__password {
                font-family: "Poppins", sans-serif;
            }

            .login__button {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
        }
    }
}

section.signup__section {
    .signup__content {
        width: 30rem;
        box-shadow: 0.325rem 0.5rem 0 rgb(139 92 246);

        .signup__title {
            text-shadow: 0.125rem 0.125rem 0 rgba(0, 0, 0, 0.75);
            user-select: none;
            font-family: "Poppins", sans-serif;
            font-weight: 700;
            letter-spacing: 0.125rem;
        }
        .signup__subtitle {
            font-family: "Poppins", sans-serif;
        }

        .signup__form {
            label {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
            input[type="email"],
            input[type="password"],
            input[type="text"] {
                font-family: "Poppins", sans-serif;
            }
            .signup__forgot__password {
                font-family: "Poppins", sans-serif;
            }

            .signup__button {
                font-family: "Poppins", sans-serif;
                font-weight: 500;
            }
        }
    }
}
